extends layout
block content
  h1= title
  
  if (toShow == null)
    h2 No instance to delete
  else
    - let villageId = toShow._id
    - let village_Name = toShow.village_Name
    - let village_State = toShow.village_State
    - let village_Population = toShow.village_Population
    - let actionid = "/resource/villages/" + villageId
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='villageAttr mr-3') Village ID is:
        div #{villageId}
      div.row
        div(class='villageAttr mr-3') Village Name is:
        div #{village_Name}
      div.row
        div(class='villageAttr mr-3') Village State is:
        div #{village_State}
      div.row
        div(class='villageAttr mr-3') Village Population is:
        div #{village_Population}
      
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/village'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeded")
          window.location.href='/village'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }