extends layout

block content
  h1= title
  div(class="container-fluid")
    div(class="row")
        - let items = results 
            //- let results = [
            //-     {
            //-     "village_Name" : "Maryville",
            //-     "village_State" : "Missouri",
            //-     "village_Population" : 2500
            //-     },
            //-     {
            //-     "village_Name" : "Guntur",
            //-     "village_State" : "Andhra Pradesh",
            //-     "village_Population" : 500000
            //-     },
            //-     {
            //-     "village_Name" : "Hyderabad",
            //-     "village_State" : "Telangana",
            //-     "village_Population" : 2000000
            //-     },

            //- ]
        
        //- each v,index in results
        //-     div(class="col-sm-2" onclick=`buy(${index})`) #{v.village_Name}<br><br>
        //-     div(class="col-sm-2" onclick=`buy(${index})`) #{v.village_State}
        //-     div(class="col-sm-2" onclick=`buy(${index})`) #{v.village_Population}
        div(class="container-fluid") 
          div(class="row m-1") 
            each item, index in items
              - let destination = `dispatch(\"/village/update?id=${item._id}\")`
              - let destination1 = `dispatch(\"/village/create\")`
              - let destination2 = `dispatch(\"/village/detail?id=${item._id}\")`
              - let destination3 = `dispatch(\"/village/delete?id=${item._id}\")`
              div(class="row-sm-2", class="m-1" onclick=`buy(${index})`) Village: #{item.village_Name} of State: (#{item.village_State}) with Population  #{item.village_Population} 
               button.btn( class="btn-primary ml-1", onclick= destination style= "margin: 8px;") Update
               button.btn( class="btn-primary ml-1", onclick= destination1 style= "margin: 8px;") Create
               button.btn( class="btn-primary ml-1", onclick= destination2 style= "margin: 8px;") Detail
               button.btn( class="btn-primary ml-1", onclick= destination3 style= "margin: 8px;") Delete 
            script.                
                      //- function buy(itemNo)
                      //- {
                      //-       alert(`You purchased item ${itemNo+1}`)
                      //-       document.getElementByClass("row").style.cursor = "cursor";
                      //- }
                      function dispatch(path){ 
                          window.location.href=path 
                      }
            